.button__container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 15px;
  margin-top: 25px;
}

.button {
  height: 50px;
  width: 100%;
  background: #e50914;
  border: 1px solid #e50914;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.button:hover {
  color: #000;
  background-color: #be161e;
  transition: all 0.2s;
}

.button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button__edit {
  height: 50px;
  width: 100%;
  background: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button__edit:hover {
  color: #000;
  background-color: #6c757d;
  transition: all 0.2s;
}

.button__edit:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button__cancel {
  height: 50px;
  width: 100%;
  background: #555555;
  border: 1px solid #555555;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button__cancel:hover {
  color: #000;
  background-color: #555555;
  transition: all 0.2s;
}

.button__cancel:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
