.grid__container {
  color: white;
  margin-left: 20px;
  margin-top: 75px;
  min-height: 54vh;
}

.grid__row {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row::-webkit-scrollbar {
  display: none;
}

.poster {
  object-fit: contain;
  width: 14%;
  max-height: 300px;
  margin-right: 10px;
  transition: transform 450ms;
}

.poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
