.grid__container {
  color: white;
  margin-left: 20px;
  padding-top: 71px;
  min-height: 54vh;
  display: flex;
  flex-flow: row wrap;
}

.grid__box {
  flex: 1 0 33%;
  min-height: 33.33vh;
  max-width: 220px;
}

.grid__poster {
  object-fit: contain;
  max-height: 300px;
  transition: transform 450ms;
}

.grid__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
